@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: rgb(241, 232, 212);
    font-family: 'Roboto', sans-serif;
}


body article{
    display: flex;
}
div{
    display: flex;
    justify-items: center;
    
}
.language{
    display: flex;
    align-items: center;
    background-color: rgba(re0d, green, blue, alpha);
}
.EN , .DE{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 0.5%;
    border-radius: 50%;
    width: 2rem;
    align-items: center;
    height: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bolder;

}
.EN:hover , .DE:hover {
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;

}
.main{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-direction: row;
}
img{
    height: 70vh;
    width: 30vw;
}
.main .title {
flex-direction: column;
font-family: 'Roboto', sans-serif;
}
.p1 , .p2{
    font-size: 50px;
}
.p1{
    font-weight: bolder;
}
.button{
    align-items: center;
    font-weight: bolder;
    font-size:larger;
    border-radius: 50%;
}
.discover {
    align-content: center;
    text-transform: none;
    justify-content: center;
    font-weight: bold;
    padding-top: 3rem;
}
.button a{
    border: 6px solid black;
    border-radius: 20%;
    background-color: rgb(19, 18, 18);
    text-decoration: none;
    color: whitesmoke;
    

    
    
    
}